---
import { Image } from 'astro:assets';
import Yanagiya from '/public/images/yanagiya.png';
import Portfolio from '/public/images/portfoliosite.png';
import PythonApp from '/public/images/python-app.png';
import SectionTitle from "./common/SectionTitle.astro";

const works = [
  {
    link: "https://freestyle-yanagiya.jp",
    img: Yanagiya,
    name: "Freestyle 栁屋商会",
    desc: "新潟県小千谷市に位置する自動車整備屋さんのWebサイトです",
    hashs: ["Next.js", "TypeScript", "Netlify", "microCMS"]
  }, {
    link: "/",
    img: PythonApp,
    name: "BUYMA自動出品ツール",
    desc: "データ入力を自動で行うツールです",
    hashs: ["Python", "Docker"]
  }, {
    link: "/",
    img: Portfolio,
    name: "Futa Sato's Portfolio",
    desc: "本サイト作成者のポートフォリオサイトです",
    hashs: ["Astro.js", "Netlify"]
  }
]
---

<div id="works"></div>
<section class="works">
  <div class="l-container works__container js-section" data-section="works">
    <SectionTitle title="Works" />
    <ul class="works__list">
      {works.map(work => (
        <li class="works__item">
          <a href={work.link} class="works__link" target="_blank" rel="nofollow noreferrer noopener">
            <div class="works__figure">
              <Image src={work.img} alt="" />
            </div>
            <p class="works__name">{work.name}</p>
            <p class="works__description">{work.desc}</p>
            <p class="works__hashs">
              {work.hashs.map(hash => (
                <span>{hash}</span>
              ))}
            </p>
          </a>
        </li>
      ))}
    </ul>
  </div>
</section>

<style lang="scss">

#works {
  margin-top: rem(-200px);
  padding-top: rem(200px);
}

.works {
  margin-bottom: rem(300px);
  //height: 100vh;
  //height: 100dvh;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include pc {
      padding: 0 rem(50px);
    }
  }
  &__list {
    width: 100%;
    max-width: rem(1280px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: rem(50px);
    background: #f4f4f4;
    border-radius: rem(5px);
    box-shadow: rem(10px) rem(5px) rem(5px) #dcdcdc;
    @include pc {
      padding: rem(100px) rem(64px);
    }
    @include sp {
      padding: rem(30px) rem(10px);
    }
  }
  &__item {
    width: rem(350px);
    @include sp {
      width: 100%;
    }
    @media (hover) {
      &:hover {
        img {
          transform:scale(1.2,1.2);
          transition: all 1s ease;
        }
      }
    }
  }
  &__link {
    width: 100%;
  }
  &__figure {
    width: 100%;
    height: rem(200px);
    margin-bottom: rem(20px);
    overflow:hidden;
    img {
      width: 100%;
      height: 100%;
      //object-fit: cover;
      transition: all 1s ease;
    }
  }
  &__name {
    font-size: rem(18px);
    font-weight: bold;
    margin-bottom: rem(10px);
  }
  &__description {
    font-size: rem(16px);
    margin-bottom: rem(10px);
  }
  &__hashs {
    display: flex;
    flex-wrap: wrap;
    gap: rem(4px) 0;
    span::before {
      content: "#";
    }
    span {
      padding-right: rem(4px);
    }
  }
}
</style>